{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<title>List</title>
   <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" media="screen">
<style>
	@font-face 
	{
  	font-family: "Handwritten";
  	src: url('../static/Sacramento-Regular.ttf') format("truetype");
	}
	h2
	{
		font-family:"Handwritten";
		font-size:60px;
	}
	body
	{
		background-color:#5cb85c;
	}
</style> 
</head>
<body>
	<div class="row">
	<div class="container">
			</br></br>
			<!--  <h3 style="color:rgb(66, 139, 202)">Original word count:{{ originalcount }}</h3>
			<h3 style="color:rgb(66, 139, 202)">Summary word count:{{ summarycount }}</h3> -->
			<div class="card text-xs-center">
  				<div class="card-header">
    				<h3>Automatic Text Summarizer</h3>
  				</div>
  				<div class="card-block">
    				<h4 class="card-title">Summary</h4>
    				<p class="card-text">
    					{% for s in summary %}
							{{ s.statement }}.
						{% endfor %}
    				</p>
    				<a href="/downloadfile" class="btn btn-primary">Download as Text</a>
  				</div>
  				<div class="card-footer text-muted">
    				{{summarycount }} words
  				</div>
			 <input onclick='responsiveVoice.speak("{{tospeak}}");' type='button' value='🔊 Play' />
			</br>
			<!--<a href="/downloadfile">Download as Text File</a>
			<img class="card-img-bottom" data-src="test.jpg" alt="Card image cap">-->
	</div>
	</div>

  <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script> 
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src='//vws.responsivevoice.com/v/e?key=jdRHxZYZ'></script>
  

</body>
</html>
